body {
    background-color: hsl(331, 54%, 82%);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}


img {
    display: block;
    margin: 0 auto;
    width: 60%;
}

dl {
    width: 60%;
    margin: auto;
    border: 2px solid black;
    margin-top: 2rem;
}

dt {
    background-color: aliceblue;
    padding: 1rem;
    font-weight: bold;
}

dd {
    padding: 1rem;
}

p
{
    width:80%; 
    background-color: aliceblue;
    margin:1rem auto;
    padding: 1rem;
    border:2px solid silver;
}

ul
{
    width:70%; 
    background-color: aliceblue;
    margin: auto;
    padding: 1rem;
    border:2px solid silver;
    padding-left:4rem;
}
a{
    display:block;
    margin:auto;
    text-align: center;
}