html
{
scroll-behavior: smooth;
}


body {
background-color:021941;
}

.container {
min-height: 10rem;
max-width: 70rem;
margin: auto;
background-color:#EA983D;
padding:1rem;
color: #5D3238;

}

#pageheader {
background-color:#D34733;
min-height: auto;
padding: 1rem;
}
#pageheader .container
{
    background-color:none;
    min-height: auto;
}
#logo
{
    width:6.25rem;
    height:6.25rem;
    background-color:#D7631A ;
    background-image:url(Images/Logo.jpg);
}

#media {
background-color:rgb(209,67,48);
min-height: 10rem;
padding: 1rem;
background-image:url(Images/CoralineCircus.jpg) ;
background-size: cover;
aspect-ratio: 16 / 9;
}

#career {
background-color:#52210E;

min-height: 10rem;
padding: 1rem;
color: rgb(147,68,45);
}
#pagecontent {

background-color:#D7631A   ;
min-height: 10rem;
padding: 1rem;
color: rgb(147,68,45);
}

#pageheader .container{
    min-height: auto;
}
#pageheader nav {
    text-align: center;
}

#topnav ul {
    list-style-type: none;
    text-align: none;
    margin:0;
    padding:0;    
}
#pageheader nav ul li {
    border:2px solid silver;
    padding:1rem;
    margin:2px;
    border-radius: 10px;
}
#pageheader nav ul li:hover
{
    background-color: hsl(12, 65%, 66%);
}

#semester1 {
background-color:#D7631A;
min-height: 10rem;
padding: 1rem;
color:rgb(147,68,45);
}

#semester2 {
background-color:#52210E;
min-height: 10rem;
padding: 1rem;
color: rgb(147,68,45);
}

#pagefooter {
background-color:hsl(32, 69%, 48%);
min-height: auto;
padding: 1rem;
color: #5D3238;
}

#pagefooter .container{
    text-align: center;
    min-height: 20px;
}

#aitools{
background-color:hsl(32, 69%, 48%);
padding: 1rem;
text-align: center;
}

#aitools .container{
    text-align: center;
    min-height: 20px;
}
#subfooter {
background-color:hsl(12, 58%, 68%);
min-height: 10rem;
padding: 1rem;
color:rgb(147,68,45);
}

audio {
display: block;
margin: auto;
background-color: #f77fa9;
border: 5px solid  #f3b2c8;
}
blockquote
{
    padding:1rem;
    width: 50%;
    margin: auto;
    font-size:1.25rem;
}
blockquote + span 
{
    padding:1rem;
display: block;
margin:0 auto;
width:50%;
text-align: right;
}
@media screen and (min-width:600px) {
#pageheader nav ul {
    background-color:none;
    margin-top: 2rem;
}
#pageheader nav ul li {
    display:inline-block 
}

#pagecontent
{background-color:#D7631A;}    
#career {

}

}


